@{
    ViewData["Title"] = "Home Page";
}

<div class="pb-jumbo text-center">
    @*<img src="~/images/pb-icon.png" alt="Portal Buddy" style="width:64px;height:64px;" />*@
    <h1>Dynamics Portal Buddy</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Overview:</h3>
        <p>
            Portal Buddy is a starter template for a companion web app for Dynamics 365 portals. This
            template includes an authenticated experience persisting the portal user context across requests
            between the Dynamics 365 portal and the Portal Buddy web app using Azure AD B2C.
        </p>

        <p>
            Portal Buddy is built on ASP.NET Core 1.1 with the .NET Framework 4.6.1. It includes the
            Dynamics 365 SDK and the Dynamics 365 Xrm Tooling utlizing the CrmServiceClient implemented
            for ASP.NET Core as CrmCoreServiceClient.
        </p>
    </div>
</div>
