@{
    ViewData["Title"] = "Home Page";
}

<div class="pb-jumbo text-center">
    <h1>Dynamics Portal Buddy</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Overview:</h3>
        <p>
            Portal Buddy is a starter template for a companion web app for Dynamics 365 portals. This
            template includes an authenticated experience persisting the portal user context across requests
            between the Dynamics 365 portal and the Portal Buddy web app using Azure AD B2C.
        </p>

        <p>
            Portal Buddy is built on ASP.NET Core 1.1 with the .NET Framework 4.6.1. It includes the
            Dynamics 365 SDK and the Dynamics 365 Xrm Tooling utlizing the CrmServiceClient implemented
            for ASP.NET Core as CrmCoreServiceClient.
        </p>

        <hr/>

        <h3>Highlights:</h3>
    </div>
    <div class="col-md-6">
        <ul>
            <li>Built on ASP.NET Core</li>
            <li>Includes Dynamics 365 Server-to-Server Authentication or Connection String</li>
            <li>Implements Dynamics 365 SDK and Xrm Tooling</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li>Setup for Azure AD B2C with API and Page based requests (JWT + OpenID Connect)</li>
            <li>Persists the Dynamics 365 portal user</li>
            <li>Extension methods to access Dynamics 365 contact record</li>
        </ul>
    </div>
</div>
